

@{
    ViewData["Title"] = "PlaceOrder";
}

<h2>PlaceOrder</h2>


@model PizzaStore.UI.Models.OrderDisplay



@using (Html.BeginForm("PlaceOrder", "Orders", FormMethod.Post))
{


    @Html.HiddenFor(model => model.FirstName)
    @Html.HiddenFor(model => model.LastName)
    @Html.HiddenFor(model => model.UserID)
    @Html.HiddenFor(model => model.OrderPref)
    @Html.HiddenFor(model => model.StoreLocation)
    <h3>Choose Size</h3>
    <h5>Large:</h5> @Html.RadioButtonFor(m => m.Size, "Large")
    <h5>Medium:</h5> @Html.RadioButtonFor(m => m.Size, "Medium")
    <h5>Small:</h5> @Html.RadioButtonFor(m => m.Size, "Small")

    <h3>Choose Crust</h3>
    <h5>Thin:</h5> @Html.RadioButtonFor(m => m.Crust, "Thin")
    <h5>Pan:</h5> @Html.RadioButtonFor(m => m.Crust, "Pan")
    <h5>Stuffed:</h5> @Html.RadioButtonFor(m => m.Crust, "Stuffed")

    <h3>Choose Sauce</h3>
    <h5>Marinara:</h5> @Html.RadioButtonFor(m => m.Sauce, "Marinara")
    <h5>Buffalo:</h5> @Html.RadioButtonFor(m => m.Sauce, "Buffalo")
    <h5>BBQ:</h5> @Html.RadioButtonFor(m => m.Sauce, "BBQ")

    <h5>Toppings</h5>
    <h3>Bacon: </h3> @Html.CheckBoxFor(m => m.Bacon)
    <h3>Pepperoni: </h3>@Html.CheckBoxFor(m => m.Pepperoni)
    <h3>Sausage: </h3>@Html.CheckBoxFor(m => m.Sausage)
    <h3>Chicken: </h3>@Html.CheckBoxFor(m => m.Chicken)
    <h3>Olives: </h3>@Html.CheckBoxFor(m => m.Olives)
    <h3>Onions: </h3>@Html.CheckBoxFor(m => m.Onions)

    <h3>How many: </h3>@Html.TextBoxFor(m => m.PizzaCount, new { type = "number", min = "1", max = "12" })
    <input type="submit" />




}

