@model IEnumerable<PizzaStore.UI.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h2>Order History</h2>

<a asp-action="OrderPriceHigh">Order by most expensive.</a> <br />
<a asp-action="OrderPriceLow">Order by cheapest.</a><br />
<a asp-action="OldestPost">Order by oldest.</a><br />
<a asp-action="NewestPost">Order by newest.</a> <br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoreID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StoreID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                
                
            </tr>
        }
    </tbody>
</table>
